<header>
    <div class="logo"><h1 class="app-name"><%= I18n.t('application.name_html').html_safe %></h1></div>
    <nav><%= link_to I18n.t('dashboard.link_title').upcase,  root_path %></nav>
</header>