%h2 Match history

%table
  %tr
    %th.date Date
    %th Winner
    %th Loser
    %th.action
  - match_history.each do |m|
    %tr{class: cycle("even", "odd")}
      %td.date= m.occured_at.strftime("%Y-%m-%d")
      %td= m.winner
      %td= m.loser
      %td.action= link_to "delete", match_path(m), method: :delete
