<form accept-charset="UTF-8" action="/matches" class="new_match" id="new_match" method="post">
    <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓">
        <input name="authenticity_token" type="hidden" value="nRiUVKL9jfJUDb4j5Mu8tX5/HvaEIXxBBIgs5CfruoE=">
    </div>

    <h1 class="app-name">Piv<span class="pivotal-o"></span>t-P<span class="pivotal-o"></span>ng</h1>
    <div class="winner-field">
        <input id="match_winner" name="match[winner]" type="text" placeholder="WINNER" tabindex="1"/>
        <div id="winner_suggestions" class="search winner"></div>
    </div>

    <span class="defeats-text">- DEFEATS -</span>
    <div class="loser-field">
        <input id="match_loser" name="match[loser]" type="text" placeholder="LOSER" tabindex="2"/>
        <div id="loser_suggestions" class="search loser"></div>
    </div>

    <input id="save_match" name="commit" type="submit" value="RECORD" tabindex="3"/>
</form>

<% if (typeof errors !== "undefined") { %>
<hr/>
<div class="errors-container">
    <span class="errors-description">Errors prevented the match from being saved:</span>
    <ul>
        <% _(errors).each(function (error, field) { %>
        <li><%= field + " " + error + "." %></li>
        <% }); %>
    </ul>
</div>
<% } %>