<span id="tooltip" class="tooltip">
  Leaderboard ranking is determined by tournament win % multiplied by the number of unique players faced in the tournament.
</span>
<h3><a href="/tournament">TOURNAMENT LEADERBOARD</a><span id="tooltip_link"></span></h3>

<div class="table-container">
  <table>
    <% standings.each(function(standing, index) { %>
      <tr>
        <td class="player-ranking">
          <%= index + 1 %>
        </td>
        <td class="player-name">
          <%= standing.get('name') %>
        </td>
        <td class="player-record">
          <%= standing.get('wins') %>-<%= standing.get('losses') %>
        </td>
      </tr>
    <% }); %>
  </table>
</div>