<h3>- RECENT MATCHES -</h3>
<div class="table-container">
  <table>
    <tr>
      <th class="player-name">Winner</th>
      <th class="player-name">Loser</th>
      <th class="time">Time</th>
    </tr>
      <% matches.each(function (match) { %>
        <tr>
          <td class="player-name winner"><%= match.get('winner_name') %></td>
          <td class="player-name loser"><%= match.get('loser_name') %></td>
          <td class="time"><%= match.get('human_readable_time') %></td>
        </tr>
      <% }); %>
  </table>
</div>
