@import 'normalize';
@import 'open_sans';

@import 'colors';
@import 'dashboard';
@import 'icons';

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

input[type=text] {
  border-radius: 5px;
  border: 3px solid $gray_light;
  padding: 5px;
  font-size: 14pt;
  width: 150px;
  display: inline-block;
}

input[type=submit] {
  border-radius: 5px;
  background: lighten($pivotal_red, 10%);
  border: 3px solid $pivotal_red;
  color: white;
  padding: 5px;
  font-size: 14pt;
  width: 150px;
  display: inline-block;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: $gray;
}

hr {
  border: 0;
  border-top: 2px dashed darken($overlay_grey, 15%);
  margin: 20px;
}

.overlay {
  background-color: rgba($overlay_grey, 0.85);
  border: 3px solid darken($overlay_grey, 5%);
  padding: 10px;
}
