@import 'normalize';

$white: rgb(233, 224, 227);
$gray: rgb(82, 76, 76);
$gray_light: lighten($gray, 50%);
$black: rgb(18, 15, 19);
$pivotal_red: #C21734;
$pivotal_medium_blue: #75B6E2;
$pivotal_light_blue: #CDE4F6;
$pivotal_dark_blue: #1279BE;
$killerspin_blue: #0f50d2;

$shark_blue_lightest: #A5C4D8;
$shark_blue_light: #598DBF;
$shark_blue_medium: #3A77B0;
$shark_blue_dark: #023A73;
$shark_blue_darkest: #032259;

body {
  position: relative;
  background-color: white;
}

#player_tiles_container {
  background-color: transparent;
}

#match_form_container {
  width: 900px;
  margin-left: -450px;
  left: 50%;
  bottom: 10%;

  color: $gray;
  text-align: center;
}

#recent_matches_container {

}

.overlay {
  background-color: rgba($pivotal_light_blue, 0.8);
  border: 1px solid $killerspin_blue;
  border-radius: 15px;
  padding: 30px;
  position: absolute;
}

.mesh, .hex-o {
  fill: none;
  stroke: $gray_light;
  stroke-width: 2px;
}

.hex-o-link {
  fill: cornflowerblue;
  stroke: $gray_light;
  stroke-width: 2px;
  &.color1 {
    fill: $shark_blue_lightest;
  }
  &.color2 {
    fill: $shark_blue_light;
  }
  &.color3 {
    fill: $shark_blue_medium;
  }
  &.color4 {
    fill: $shark_blue_dark;
  }
  &.color5 {
    fill: $shark_blue_darkest;
  }
}

.hex-o-text {
  fill: $white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Cambo', serif;
}