$off-white: rgb(233, 224, 227);
$gray: rgb(82, 76, 76);
$gray_light: lighten($gray, 65%);
$overlay_gray: rgb(223, 223, 233);
$dark_overlay_gray: rgba(darken($overlay_gray, 5%), 0.85);
$black: rgb(18, 15, 19);
$pivotal_red: #C21734;
$winning_green: seagreen;
$losing_red: firebrick;
$hot_streak_orange: coral;
$cold_streak_blue: deepskyblue;

$shark_blue_lightest: #A5C4D8;
$shark_blue_light: #598DBF;
$shark_blue_medium: #3A77B0;
$shark_blue_dark: #023A73;
$shark_blue_darkest: #032259;

$link_color: #0260ac;
$link_hover_color: lighten($link_color, 20%);