.leaderboard {
  color: $gray;
  text-align: center;
  table {
    width: 75%;
    margin: 0 auto;
    min-width: 200px;
    max-width: 600px;
    tr {
      th, td {
        padding: .5em;
        text-align: left;
      }
      .player-ranking {
        width: 3em;
        max-width: 3em;
        padding-right: 1em;
        text-align: right;
      }
      .player-record {
        text-align: right;
      }
      border-bottom: 1px solid $gray_light;
    }
  }
}
