<!DOCTYPE html>
<html>
<head>
  <title>PivotPong</title>
  <link href='http://fonts.googleapis.com/css?family=Cambo' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript">
  $(function() {
    pong.collections = {};
    pong.collections.recentMatches = new pong.RecentMatches();
    pong.collections.playerStandings = new pong.PlayerStandings();

    Backbone.Poller.get(pong.collections.recentMatches, { delay: 15000 }).start();
    Backbone.Poller.get(pong.collections.playerStandings, { delay: 15000 }).start();

    new pong.AppRouter({
      collections: pong.collections
    });
    Backbone.history.start();
  });
</script>

</body>
</html>
